.Table{
  min-height: 550px;
  
}
.Table .Dealer, .Table .Player {
        margin-top: 0.5rem;
        text-align: center;
        width: 100%;
        z-index: 0;
        position: relative;
      }
      .Table span{
        color: rgba(107, 20, 150, 0.651);
        font-weight: 800
      }
.cardfan { 
  height: 356px; 
  width: 700px; 
  position: relative; 
  margin-bottom: 2rem;
}
